* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #0F1111;
    font-size: 15px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.desktop-only { display: none !important; }

a { color: #007185; text-decoration: none; }
a:active, a:hover { color: #C7511F; text-decoration: underline; }

.mobile-header-bg {
    background-color: #232f3e;
    height: 52px; 
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.amazon-logo-img-mobile {
    display: block;
    width: 75px;
    height: 24px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIKICAgdmVyc2lvbj0iMS4xIgogICB3aWR0aD0iNjAzIgogICBoZWlnaHQ9IjE4MiIKICAgc3R5bGU9ImZpbGw6I2ZmZmZmZiIKICAgaWQ9InN2ZzE5MzYiPgogIDxwYXRoCiAgICAgZD0ibSAzNzQuMDA2NDIsMTQyLjE4NDA0IGMgLTM0Ljk5OTQ4LDI1Ljc5NzM5IC04NS43MjkwOSwzOS41NjEyMyAtMTI5LjQwNjM0LDM5LjU2MTIzIC02MS4yNDI1NSwwIC0xMTYuMzc2NTYsLTIyLjY1MTM1IC0xNTguMDg3NTcsLTYwLjMyNDk2IC0zLjI3NzEsLTIuOTYyNTIgLTAuMzQwODMsLTYuOTk5OSAzLjU5MTcxLC00LjY5MjgzIDQ1LjAxNDMxLDI2LjE5MDY0IDEwMC42NzI2OSw0MS45NDY5NyAxNTguMTY2MjMsNDEuOTQ2OTcgMzguNzc0Njg5LDAgODEuNDI5NSwtOC4wMjIzNyAxMjAuNjQ5OSwtMjQuNjcwMDYgNS45MjUwMSwtMi41MTY4MyAxMC44Nzk5OSwzLjg4MDA5IDUuMDg2MDcsOC4xNzk2NSIKICAgICBpZD0icGF0aDgiCiAgICAgc3R5bGU9ImZpbGw6I2ZmOTkwMCIgLz4KICA8cGF0aAogICAgIGQ9Im0gMzg4LjU1Njc4LDEyNS41MzYzNSBjIC00LjQ1Njg4LC01LjcxNTI3IC0yOS41NzI2MSwtMi43MDAzMyAtNDAuODQ1ODUsLTEuMzYzMjcgLTMuNDM0NDIsMC40MTk0NyAtMy45NTg3NCwtMi41NjkyNSAtMC44NjUxNywtNC43MTkwNSAyMC4wMDM0NiwtMTQuMDc4NDQgNTIuODI2OTYsLTEwLjAxNDgzIDU2LjY1NDYyLC01LjI5NTggMy44Mjc2NCw0Ljc0NTI2IC0wLjk5NjI0LDM3LjY0NzQxIC0xOS43OTM3Myw1My4zNTEyOCAtMi44ODM4NSwyLjQxMTk1IC01LjYzNjYyLDEuMTI3MzQgLTQuMzUxOTgsLTIuMDcxMTMgNC4yMjA5LC0xMC41MzkxNyAxMy42ODUxOSwtMzQuMTYwNTQgOS4yMDIxMSwtMzkuOTAyMDMiCiAgICAgaWQ9InBhdGgxMCIKICAgICBzdHlsZT0iZmlsbDojZmY5OTAwIiAvPgogIDxwYXRoCiAgICAgZD0iTSAzNDguNDk3NDQsMjAuMDY1OTggViA2LjM4MDc5IGMgMCwtMi4wNzExMyAxLjU3MzAxLC0zLjQ2MDYyIDMuNDYwNjIsLTMuNDYwNjIgaCA2MS4yNjg3NSBjIDEuOTY2MjgsMCAzLjUzOTI5LDEuNDE1NzEgMy41MzkyOSwzLjQ2MDYyIHYgMTEuNzE4OTMgYyAtMC4wMjYyLDEuOTY2MjYgLTEuNjc3ODgsNC41MzU1MSAtNC42MTQxOCw4LjU5OTEyIGwgLTMxLjc0ODU5LDQ1LjMyODkzIGMgMTEuNzk3NTksLTAuMjg4MzcgMjQuMjUwNTksMS40NjgxNCAzNC45NDcwNiw3LjQ5ODAyIDIuNDExOTUsMS4zNjMyNyAzLjA2NzM3LDMuMzU1NzUgMy4yNTA4OSw1LjMyMjAzIFYgOTkuNDUwNiBjIDAsMS45OTI0OCAtMi4yMDIyMiw0LjMyNTc2IC00LjUwOTMsMy4xMTk4IC0xOC44NDk5MiwtOS44ODM3NiAtNDMuODg3LC0xMC45NTg2NSAtNjQuNzI5MzksMC4xMDQ4NyAtMi4xMjM1NiwxLjE1MzU0IC00LjM1MTk5LC0xLjE1MzU0IC00LjM1MTk5LC0zLjE0NjAyIFYgODUuNjYwNTQgYyAwLC0yLjIyODQzIDAuMDI2MiwtNi4wMjk4OSAyLjI1NDYzLC05LjQxMTg2IGwgMzYuNzgyMjQsLTUyLjc0ODI5IGggLTMyLjAxMDc2IGMgLTEuOTY2MjYsMCAtMy41MzkyNywtMS4zODk0OCAtMy41MzkyNywtMy40MzQ0MSIKICAgICBpZD0icGF0aDEyIiAvPgogIDxwYXRoCiAgICAgZD0ibSAxMjQuOTk4ODMsMTA1LjQ1NDI0IGggLTE4LjY0MDE3IGMgLTEuNzgyNzMsLTAuMTMxMDcgLTMuMTk4NDUsLTEuNDY4MTMgLTMuMzI5NTQsLTMuMTcyMjQgViA2LjYxNjc2IGMgMCwtMS45MTM4MyAxLjU5OTIzLC0zLjQzNDQyIDMuNTkxNzEsLTMuNDM0NDIgaCAxNy4zODE3NiBjIDEuODA4OTgsMC4wNzg2IDMuMjUwODksMS40NjgxNCAzLjM4MTk5LDMuMTk4NDUgdiAxMi41MDU0NSBoIDAuMzQwODIgYyA0LjUzNTUxLC0xMi4wODU5OCAxMy4wNTU5NywtMTcuNzIyNiAyNC41Mzg5NiwtMTcuNzIyNiAxMS42NjY0OSwwIDE4Ljk1NDc3LDUuNjM2NjIgMjQuMTk4MTQsMTcuNzIyNiA0LjUwOTMsLTEyLjA4NTk4IDE0Ljc2MDA4LC0xNy43MjI2IDI1Ljc0NDk1LC0xNy43MjI2IDcuODEyNjIsMCAxNi4zNTkzMSwzLjIyNDY3IDIxLjU3NjQ2LDEwLjQ2MDUyIDUuODk4NzksOC4wNDg1NyA0LjY5MjgxLDE5Ljc0MTI4IDQuNjkyODEsMjkuOTkyMDggbCAtMC4wMjYyLDYwLjM3NzM5IGMgMCwxLjkxMzgzIC0xLjU5OTIzLDMuNDYwNjEgLTMuNTkxNzEsMy40NjA2MSBoIC0xOC42MTM5NyBjIC0xLjg2MTM4LTAuMTMxMDcgLTMuMzU1NzQsLTEuNjI1NDMgLTMuMzU1NzQsLTMuNDYwNjEgViA1MS4yOTAyNSBjIDAsLTQuMDM3MzkgMC4zNjcwMiwtMTQuMTA0NjYgLTAuNTI0MzQsLTE3LjkzMjMzIC0xLjM4OTQ5LC02LjQyMzExIC01LjU1Nzk3LC04LjIzMjA5IC0xMC45NTg2NSwtOC4yMzIwOSAtNC41MDkzLDAgLTkuMjI4MzMsMy4wMTQ5NCAtMTEuMTQyMTYsNy44Mzg4NSAtMS45MTM4Myw0LjgyMzkgLTEuNzMwMzEsMTIuODk4NjcgLTEuNzMwMzEsMTguMzI1NTcgdiA1MC43MDMzOCBjIDAsMS45MTM4MyAtMS41OTkyMywzLjQ2MDYxIC0zLjU5MTcxLDMuNDYwNjEgaCAtMTguNjEzOTUgYyAtMS44ODc2MSwtMC4xMzEwNyAtMy4zNTU3NiwtMS42MjU0MyAtMy4zNTU3NiwtMy40NjA2MSBMIDE1Mi45NDYsNTEuMjkwMjUgYyAwLC0xMC42NzAyNSAxLjc1NjUxLC0yNi4zNzQxNSAtMTEuNDgyOTgsLTI2LjM3NDE1IC0xMy4zOTY4MiwwIC0xMi44NzI0OCwxNS4zMTA2MyAtMTIuODcyNDgsMjYuMzc0MTUgdiA1MC43MDMzOCBjIDAsMS45MTM4MyAtMS41OTkyMywzLjQ2MDYxIC0zLjU5MTcxLDMuNDYwNjEiCiAgICAgaWQ9InBhdGgxNCIgLz4KICA8cGF0aAogICAgIGQ9Im0gNDY5LjUxNDM5LDEuMTYzNjQgYyAyNy42NTg3NywwIDQyLjYyODU4LDIzLjc1MjQ2IDQyLjYyODU4LDUzLjk1NDI3IDAsMjkuMTc5MzQgLTE2LjU0Mjg0LDUyLjMyODgxIC00Mi42Mjg1OCw1Mi4zMjg4MSAtMjcuMTYwNjYsMCAtNDEuOTQ2OTcsLTIzLjc1MjQ2IC00MS45NDY5NywtNTMuMzUxMjcgMCwtMjkuNzgyMzQgMTQuOTY5ODMsLTUyLjkzMTgxIDQxLjk0Njk3LC01Mi45MzE4MSBtIDAuMTU3MjksMTkuNTMxNTYgYyAtMTMuNzM3NjEsMCAtMTQuNjAyNzgsMTguNzE4ODEgLTE0LjYwMjc4LDMwLjM4NTMyIDAsMTEuNjkyNzEgLTAuMTgzNTIsMzYuNjUxMTQgMTQuNDQ1NDksMzYuNjUxMTQgMTQuNDQ1NDgsMCAxNS4xMjcxMiwtMjAuMTM0NTIgMTUuMTI3MTIsLTMyLjQwNDAzIDAsLTguMDc0NzcgLTAuMzQwODIsLTE3LjcyMjU3IC0yLjc3OSwtMjUuMzc3OSAtMi4wOTczNSwtNi42NTkwNiAtNi4yNjU4MSwtOS4yNTQ1MyAtMTIuMTkwODMsLTkuMjU0NTMiCiAgICAgaWQ9InBhdGgxNiIgLz4KICA8cGF0aCBkPSJNIDU0OC4wMDc2MiwxMDUuNDU0MjQgSCA1MjkuNDQ2MSBjIC0xLjg2MTQxLC0wLjEzMTA3IC0zLjM1NTc3LC0xLjYyNTQzIC0zLjMwMzMyLC0zLjAxNDkyIFYgNTAuNDc3NTMgYyAwLC0xMC40NjA1MiAxLjIwNTk3LC0yNS43NzExNyAtMTEuNjY2NTEsLTI1Ljc3MTE3IC00LjUzNTUsMCAtOC43MDM5OSwzLjA0MTE3IC0xMC43NzUxMiw3LjY1NTMyIC0yLjk2MjQ5LDUuODQ2MzcgLTIuOTYyNDksMTEuNjY2NTEsLTIuOTYyNDksMTguMTE1ODUgdiA1MS41MTYxIGMgLTAuMDI2MiwxLjkxMzgzIC0xLjY1MTY2LDMuNDYwNjEgLTMuNjQ0MTQsMy40NjA2MSIKICAgICBpZD0icGF0aDE4IiAvPgogIDx1c2UKICAgICB4bGluazpocmVmPSIjcGF0aDMwIgogICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0NC4zNjcxOSkiCiAgICAgaWQ9InVzZTI4IiAvPgogIDxwYXRoCiAgICAgZD0iTSA1NS4yODgyNjEsNTkuNzU4MjkgViA1NS43MjA5IGMgLTEzLjQ3NTQ3MSwwIC0yNy43MTEyMTEsMi44ODM4NSAtMjcuNzExMjExLDE4Ljc3MTI1IDAsOC4wNDg1NyA0LjE2ODQ3LDEzLjUwMTY5IDExLjMyNTY3LDEzLjUwMTY5IDUuMjQzMzcsMCA5LjkzNjE4LC0zLjIyNDY3IDEyLjg5ODcsLTguNDY4MDUgMy42NzAzNDEsLTYuNDQ5MzUgMy40ODY4NDEsLTEyLjUwNTQ0IDMuNDg2ODQxLC0xOS43Njc1IG0gMTguNzk3NDcsNDUuNDMzNzggYyAtMS4yMzIxOSwxLjEwMTExIC0zLjAxNDk1LDEuMTc5NzYgLTQuNDA0NDQsMC40NDU3IC02LjE4NzE2LC01LjEzODUgLTcuMjg4MjgsLTcuNTI0MjMgLTEwLjY5NjQ3LC0xMi40MjY3OCAtMTAuMjI0NTcxLDEwLjQzNDMgLTE3LjQ2MDQwMSwxMy41NTQwOSAtMzAuNzI2MTQxLDEzLjU1NDA5IC0xNS42Nzc2OCwwIC0yNy44OTQ3MSwtOS42NzQwMSAtMjcuODk0NzEsLTI5LjA0ODI0IDAsLTE1LjEyNzEzIDguMjA1ODcsLTI1LjQzMDM1IDE5Ljg3MjM2LC0zMC40NjM5OCAxMC4xMTk3LC00LjQ1Njg4IDI0LjI1MDU4LC01LjI0MzM3IDM1LjA1MTkzMSwtNi40NzU1NiB2IC0yLjQxMTk1IGMgMCwtNC40MzA2NiAwLjM0MDgyLC05LjY3NDAzIC0yLjI1NDY1LC0xMy41MDE2NyAtMi4yODA4ODEsLTMuNDM0NDIgLTYuNjMyODYxLC00Ljg1MDEzIC0xMC40NjA1MzEsLTQuODUwMTMgLTcuMTA0NzUsMCAtMTMuNDQ5MjQsMy42NDQxNCAtMTQuOTk2MDMsMTEuMTk0NTkgLTAuMzE0NjEsMS42Nzc4OSAtMS41NDY4LDMuMzI5NTUgLTMuMjI0NjcsMy40MDgyIEwgNi4yNjI3NiwzMi42NzYyOCBDIDQuNzQyMTgsMzIuMzM1NDggMy4wNjQzLDMxLjEwMzI3IDMuNDgzNzcsMjguNzY5OTkgNy42NTIyNSw2Ljg1MjcxIDI3LjQ0NTk2LDAuMjQ2MDUgNDUuMTY4NTYsMC4yNDYwNSBjIDkuMDcxMDExLDAgMjAuOTIxMDIxLDIuNDExOTUgMjguMDc4MjIxLDkuMjgwNzYgOS4wNzEwNCw4LjQ2ODA0IDguMjA1ODcsMTkuNzY3NSA4LjIwNTg3LDMyLjA2MzIxIHYgMjkuMDQ4MjYgYyAwLDguNzMwMjIgMy42MTc5NCwxMi41NTc4NiA3LjAyNjEzLDE3LjI3NjkxIDEuMjA1OTcsMS42Nzc4NiAxLjQ2ODE0LDMuNjk2NTYgLTAuMDUyNDQsNC45NTQ5NyAtMy44MDE0NCwzLjE3MjI1IC0xMC41NjUzOCw5LjA3MTA0IC0xNC4yODgxOSwxMi4zNzQzNiBsIC0wLjA1MjQyLC0wLjA1MjUiCiAgICAgaWQ9InBhdGgzMCIgLz4KPC9zdmc+');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.amazon-logo-img {
    display: inline-block; width: 103px; height: 31px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg");
    background-repeat: no-repeat; background-position: center; background-size: contain;
    cursor: pointer; vertical-align: top;
}

.main-mobile {
    flex: 1;                       
    display: flex;
    justify-content: center;        
    align-items: flex-start;        
    padding: 14px 0;              
    width: 100%;
}


.login-card {
    padding: 14px 12px; 
    background: #fff;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}


.mobile-welcome-title {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #0F1111;
    text-align: left;
}

.inactive-option {
    display: flex;
    align-items: flex-start; 
    gap: 12px;
    padding: 13px 15px;
    background: #F0F2F2;
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
}

.active-option-header {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 14px 15px 5px 15px;
    background: #fff;
    border: 1px solid #D5D9D9;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}


.radio-visual {
    width: 20px;
    height: 20px;
    border: 1px solid #888;
    background: #fff;
    border-radius: 50%;
    margin-top: 2px;
    flex-shrink: 0;
    margin-left: 0;
}

.radio-visual.checked {
    border: none;
    background: #1d66a1;
    position: relative;
}

.radio-visual.checked::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 8px; height: 8px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
}


.option-text strong {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    margin-right: 4px;
}
.option-text {
    font-size: 15px;
    color: #111;
    line-height: 1.3;
}

#emailForm {
    background: #fff;
    border: 1px solid #D5D9D9;
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 0 15px 0px 15px;
    margin-bottom: 0px;
    padding-left: 15px;
}


.form-label {
    font-weight: 700;
    font-size: 15px;
    color: #111;
    margin-bottom: 8px;
    margin-top: 5px;
    display: block;
    line-height: 1.3;
}


.form-input {
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    border: 1px solid #888;
    border-radius: 4px;
    font-size: 16px;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}

.form-input:focus {
    border-color: #1e8aa5;
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.5);
    outline: none;
}


.submit-btn {
    width: 100%;
    height: 44px;
    background: #FFD814;
    border: 1px solid #FCD200;
    border-radius: 100px; 
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #0F1111;
    box-shadow: 0 2px 5px rgba(213,217,217,.5);
    cursor: pointer;
}


.legal-disclaimer {
    font-size: 15.5px;
    line-height: 1.4;
    color: #111;
    margin-bottom: 20px;
}
.legal-disclaimer a { color: #2162A1; text-decoration: underline; }

.help-section-link {
    font-size: 15.5px;
    color: #2162A1;
    text-decoration: none;
    margin-bottom: 25px;
    display: inline-block;
}
.help-section-link:hover { text-decoration: underline; color: #C7511F; }


.mobile-business-section {
    border-top: 1px solid #b9b9b9;
    padding-top: 10px;
    margin-bottom: 15px;
}
.business-title-mobile {
    font-weight: 700;
    font-size: 15.5px;
    color: #111;
    display: block;
    margin-bottom: 4px;
}
.business-link-mobile {
    font-size: 15.5px;
    color: #2162A1;
}


.mobile-footer {
    background: #0c151f;
    padding: 30px 20px 50px;
    text-align: center;
    color: #fff;
    margin-top: auto;
    width: 100%;
}

.footer-region-selector {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;               
    margin-bottom: 30px;
    font-size: 14px;
    color: #fff;
    width: 100%;
}

.footer-region-selector span {
    display: flex;
    align-items: center;     
    gap: 8px;               
    color: #ccc;            
    text-decoration: none;
    line-height: 1;
    margin-top: 10px;
}

.footer-region-selector span:first-child::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23dddddd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cline x1='2' y1='12' x2='22' y2='12'/%3E%3Cpath d='M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z'/%3E%3C/svg%3E");
}

.footer-region-selector span:last-child::before {
    content: "";
    display: block;
    width: 18px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480'%3E%3Cpath fill='%23bd3d44' d='M0 0h640v480H0'/%3E%3Cpath stroke='%23fff' stroke-width='37' d='M0 55.3h640M0 129h640M0 203h640M0 277h640M0 351h640M0 425h640'/%3E%3Cpath fill='%23192f5d' d='M0 0h288v259H0'/%3E%3Cmarker id='a' markerHeight='30' markerWidth='30'%3E%3Cpath fill='%23fff' d='M14.7 0l2.8 8.6h9L19.2 14l2.8 8.6-7.3-5.4-7.3 5.4 2.8-8.5-7.3-5.4h9z'/%3E%3C/marker%3E%3Cpath fill='none' marker-mid='url(%23a)' d='M42 21h214m-214 43h214m-214 43h214m-214 43h214m-214 43h214M21 43h214m-214 43h214m-214 43h214m-214 43h214'/%3E%3C/svg%3E");
}

.mobile-footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 20px;
    margin-bottom: 20px;
}

.mobile-footer-links a {
    color: #DDD;
    font-size: 12px;
    text-decoration: none;
}

a span {
    display: inline-block;
    width: 28px; 
    height: 14px; 
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%230066CC' d='M7 0h16a7 7 0 0 1 7 7 7 7 0 0 1-7 7H7a7 7 0 0 1-7-7 7 7 0 0 1 7-7z'/%3E%3Cpath fill='%23FFF' d='M7 0h8v14H7a7 7 0 0 1-7-7 7 7 0 0 1 7-7z'/%3E%3Cpath stroke='%230066CC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M4 6l2.5 3L11 4'/%3E%3Cpath stroke='%23FFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M20 4l6 6m0-6l-6 6'/%3E%3C/g%3E%3C/svg%3E");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    text-indent: -9999px;
    vertical-align: middle;
    margin-left: 6px; 
    position: relative;
    top: -1px; 
}

.mobile-copyright {
    color: #ffffff;
    font-size: 11px;
    margin-top: -10px;
}

.auth-error-box {
    display: none; 
}

@media (max-width: 768px) {
    .auth-error-box.show-error {
        display: block;
        width: auto;
        max-width: 560px;

        margin: 0 12px 20px 12px; 

        border: 1px solid #c40000;
        border-left: 10px solid #c40000;
        border-radius: 4px;
        
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        padding: 14px 18px;
        box-sizing: border-box; 
        text-align: left;
    }

    .auth-error-title {
        color: #111;
        font-size: 17px;
        font-weight: 700; 
        margin: 0 0 6px 0;
        line-height: 1.2;
        font-family: 'Inter', Helvetica, Arial, sans-serif;
    }

    .auth-error-message {
        font-size: 15px;
        font-weight: 400;
        color: #111;
        margin: 0;
        line-height: 1.5;
        font-family: 'Inter', Helvetica, Arial, sans-serif;
    }

    @media (max-width: 768px) {
        .auth-email-missing-alert {
            display: none !important;
        }
    }


}
